*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
p{
	font-family: 'ZCOOL KuaiLe', cursive;
	float: left;
	margin-top: 15px;
	margin-right: 15px;
	margin-left: 15px;
	font-size: 20px;
}
body{
	background: url(img/Background.jpg)
}

/*BARRA DE NAVEGACION*/

.navegacion{
	width: 800px;
	margin: 30px auto;
	background: #FFFB03;
}
.navegacion ul{
	list-style: none;
}
.menu li{
	position: relative;
	display: inline-block;
}
.menu li a{
	display: block;
	padding: 15px 20px;
	color: #353535;
	font-family: sans-serif;
	text-decoration: none;
}
.menu li a:hover{
	color: #CE7D35;
}

/*PAGINA PRINCIPAL*/
.btn{
	border-radius: 7px;
	display: inline-block;
	padding: 20px 15px;
	text-decoration: none;
	font-family: 'Press Start 2P', cursive;
	margin-left: 450px;
	margin-top: 20px;
}
.btn-color{
	color: white;
	background-color: #30B77E;
}

.btn2{
	border-radius: 7px;
	display: inline-block;
	padding: 20px 15px;
	text-decoration: none;
	font-family: 'Press Start 2P', cursive;
	margin-left: 435px;
	margin-top: 20px;
}
.btn-color2{
	color: white;
	background-color: #30B77E;
}

.btn3{
	border-radius: 7px;
	display: inline-block;
	padding: 20px 15px;
	text-decoration: none;
	font-family: 'Press Start 2P', cursive;
	margin-left: 400px;
	margin-top: 20px;
}
.btn-color3{
	color: white;
	background-color: #30B77E;
}


/*FOOTER*/

footer{
    width: 100%;
    background: #202020;
    color: white;
		font-family: sans-serif;
		position: fixed;
		bottom: 0px;
		box-sizing: border-box;
		display: block;

}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
		height: 240px;
}

.container-body{
    display: flex;
    justify-content: space-between;
		margin: 0;
		bottom: 0px;
}

/*.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 20px;
}

.colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;

}

.colum2 h1{
    font-size: 20px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 24px;
    height: 24px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 20px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 24px;
    height: 24px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}*/

.container-footer{
    width: 100%;
    background: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #C7C7C7;
}