/*BARRA DE NAVEGACION*/
header .navegacion .titulo {
	margin-left: 100px;
	width: 40px;
	font-family: ZCOOL KuaiLe;
	float: left;
	font-size: 20px;
}
header .navegacion{
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
	background: #FFFB03;
	overflow: hidden;
	opacity: 0.8;
}
.navegacion .menu ul{
	list-style: none;
	margin: 0 auto;
	margin-top: 5px;
}
.menu{
	text-align: center;
}
.menu li{
	display: inline-block;
	text-align: center;
	float: right;
	height: 30px;
}
.navegacion .menu li a{

	text-align: center;
	display: block;
	padding: 15px 20px;
	color: black;
	font-family: sans-serif;
	text-decoration: none;
}
.menu li a:hover{
	color: #CE7D35;
}