body {
  background: url(/img/Background.jpg);
  width: 100%;
  box-sizing: border-box;
}
body section .menuBotones h3 {
  border-radius: 5px;
  margin: 100px auto;
  width: 900px;
  font-size: 20px;
  background: #000;
  color: white;
  font-family: sans-serif;
  opacity: 0.9;
}
.menuBotones {
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 100px;
}
.btn-group {
  margin: 0 auto;
	width:600px;
	padding:16px;
  display: block;
}
body .menuBotones .btn-group .btn-secondary {
  border-radius: 10px;
  margin-bottom: -50px;
  font-weight:bold;
  font-family: 'Press Start 2P', cursive;
  background-color: #30B77E;
  width: 100%;
}